/* You can add custom CSS and extend Boostrap styles in this file. Remember, Bootstrap is just CSS at the end of the day! */

body{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #F5EFE6;
}

/*navbar*/

.navbar a{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 17px;
}
.navbar-dark{
  background-color: #1A4D2E; /*changed navbar to a custom color */
}

.nav-item a{
  color: white;
}

.navbar-nav{
  padding-right: 10px;
}

.navbar li {
    margin-left : 1em;
    margin-right : 1em;
}

.navbar-brand{
  padding-left: 15px;
  
}

/* Hero Section */

#hero-section {

  display: flex; /* fit image into background */
  min-height: 100vh;
  min-width: 100vw;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
  
  background-image: 
    linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)),
  url(https://images.unsplash.com/photo-1718066236069-a4d42a6436a1?q=80&w=2942&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);

  /*background image with shadow to make letters pop */
}

 #rounded-pfp {
  clip-path: circle();
  width: 300px;
}

#hero-section h1{
  color: #E8DFCA;
  padding-top: 20px;
  text-shadow: 3px 3px black;

}

#hero-section h2{
  color: #E8DFCA;
  text-shadow: 3px 3px black;
}

/* Mission Section */

#mission-section{
  min-height: 100vh;
  min-width: 100vw;
}

#mission-section h1{
  text-align: center;
  color: #1A4D2E;
  text-shadow: 0.3px 0.3px  black;
}

#cactus-code{
  height: auto; 
  width: auto; 
  min-width: 411px; 
  max-height: 440px;
  padding-top: 40px;
  float: left;
}

#mission-text p{
  padding-top: 20px;
  padding-left: 70px;
  float: right;
  font-size: 24px;
}

/* Skills Section */

#skills-section{
  min-height: 100vh;
  min-width: 100vw;;
  background-color: #4F6F52;
}

#skills-section h1{
  text-align: center;
  color: #E8DFCA;
  text-shadow: 0.3px 0.3px  black;
  padding-top: 20px;
}

#skills-section {
  font-size: 20px;
  text-align: center;
  color: white;
}
.row {
  padding-top: 75px;
}

/* Contact Section */

#contact-section{
  min-height: 100vh;
  min-width: 100vh;
}

#contact-section h1{
  text-align: center;
  color: #1A4D2E;
  text-shadow: 0.3px 0.3px  black;
  padding-top: 20px;
  border: none;
}

a{
  color: inherit;
  text-decoration: none
}
a:hover {
  color: #062D03;
}

/*footer*/
#footer-section{
  left: 0;
  bottom: 0;
  width: 100vw;
  background-color: #1A4D2E;
  color: #E8DFCA;
  text-align: center;
}


